# 가상환경
.venv/

# Python 캐시 파일
__pycache__/
*.py[cod]
*.pyo

# 로그 / 임시 파일
*.log
*.tmp
.mypy_cache/
.pyre/
.pytype/
.cache/

# 시스템 파일
.DS_Store
Thumbs.db

# VSCode 설정
.vscode/

# 환경 변수 파일 (API 키 등 포함 시)
.env
.env.*

# 테스트 결과 파일
htmlcov/
coverage.xml
*.cover
.pytest_cache/
.coverage

#testdb
test.db